
main{
    height: 100%;
    width: 100%;
    padding: 0 30px;
}

.main-container, .main-container-with-catalogue{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: auto;
}
.main-container-with-catalogue{
    main {
        width: 80%;
        transition: width 0.3s ease;
    }
    .catalogue{
        left: 80%;
        transition: left 0.3s ease;
    }
}

.main-container{
    main {
        width: 100%;
        transition: width 0.3s;
    }
    .catalogue{
        left: 100%;
        transition: left 0.3s;
    }
}


@media(max-width: 900px){
    .main-container-catalogue, .main-container{
        display: grid;
        grid-template-columns: 100%;
    }
}
@media(max-width: 750px){
    main{
        padding: 0 15px;
        overflow-y: hidden;
    }

    .main-container-with-catalogue{
        main {
            width: 100%;
        }
        .catalogue{
            left: 50%;
            transition: left 0.3s ease;
        }
    }

    html, body{
        overflow: hidden;
        position: relative;

    }
}

@media (max-width: 320px) and (max-height: 387px){
    main{
        padding: 0 5px;
    }
}